:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  padding-top: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}
.navigation-links a,
.yoga-app-link,
.weather-app-link,
.yogurt-app-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.yoga-header,
.weather-header,
.yogurt-header {
  text-align: left;
}
.contact-link,
.yoga-app-link,
.weather-app-link,
.yogurt-app-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.yoga-app-image,
.weather-app-image,
.yogurt-app-image {
  border-radius: 15px;
}

.about-paragraph {
  display: flex;
  margin: 0 10px;
  text-align: center;
}

.about-images {
  display: flex;
  justify-content: space-around;
}
.about-yoga-image,
.about-weather-image,
.about-yogurt-image {
  border-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  max-width: 360px;
  padding: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
